.incoming .sender {
    color: #002b36;
	background-color: #cb4b16;
}

.outgoing .sender {
    color: #002b36;
	background-color: #268bd2;
}

.incoming .time, .outgoing .time {
	color: #93a1a1;
	background-color: #073642;
}

.incoming .sendersep {
	border-color: transparent transparent transparent #cb4b16;
}

.outgoing .sendersep {
	border-color: transparent transparent transparent #268bd2;
}

.incoming .timesep {
	border-color: #cb4b16 transparent #cb4b16 #073642;
}

.outgoing .timesep {
	border-color: #268bd2 transparent #268bd2 #073642;
}
